<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item @(ViewBag.CurrentController == "Dashboard" ? "active" : "")">
				<a asp-controller="Dashboard" asp-action="Index" asp-area="Admin">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "Reservation" ? "active" : "")">
				<a asp-controller="Reservation" asp-action="Index" asp-area="Admin" >
					<i class="la la-calendar-o"></i>
					<p>Reservations</p>
					<span class="badge badge-primary">6</span>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "Notification" ? "active" : "")">
				<a asp-controller="Notification" asp-action="Index" asp-area="Admin">
					<i class="la la-bell"></i>
					<p>Notifications</p>
					<span class="badge badge-danger" id="sidebarnotificationcount">0</span>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "Testimonial" ? "active" : "")">
				<a asp-controller="Testimonial" asp-action="Index" asp-area="Admin">
					<i class="la la-comment"></i>
					<p>Comments</p>
					<span class="badge badge-success">14</span>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "Food" ? "active" : "")">
				<a asp-controller="Food" asp-action="Index" asp-area="Admin">
					<i class="la la-list"></i>
					<p>Foods</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "RestaurantTable" ? "active" : "")">
				<a asp-controller="RestaurantTable" asp-action="Index" asp-area="Admin">
					<i class="la la-edit"></i>
					<p>Tables</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "QR" ? "active" : "")">
				<a asp-controller="QR" asp-action="Index" asp-area="Admin">
					<i class="la la-qrcode"></i>
					<p>Generate Table QR</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "Mail" ? "active" : "")">
				<a asp-controller="Mail" asp-action="Index" asp-area="Admin">
					<i class="la la-envelope"></i>
					<p>Send Email</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "Category" ? "active" : "")">
				<a asp-controller="Category" asp-action="Index" asp-area="Admin">
					<i class="la la-tags"></i>
					<p>Categories</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "Discount" ? "active" : "")">
				<a asp-controller="Discount" asp-action="Index" asp-area="Admin">
					<i class="la la-money"></i>
					<p>Discounts</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "Slider" ? "active" : "")">
				<a asp-controller="Slider" asp-action="Index" asp-area="Admin">
					<i class="la la-th"></i>
					<p>Slider Features</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "SocialLink" ? "active" : "")">
				<a asp-controller="SocialLink" asp-action="Index" asp-area="Admin">
					<i class="la la-slack"></i>
					<p>Social Links</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "OpeningHour" ? "active" : "")">
				<a asp-action="Index" asp-controller="OpeningHour" asp-area="Admin" >
					<i class="la la-hourglass-2"></i>
					<p>Opening Hours</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "FooterContent" ? "active" : "")">
				<a asp-controller="FooterContent" asp-action="Index" asp-area="Admin">
					<i class="la la-edit"></i> 
					<p>Footer Content</p>
				</a>
			</li>
			<li class="nav-item @(ViewBag.CurrentController == "About" ? "active" : "")">
				<a asp-controller="About" asp-action="Index" asp-area="Admin">
					<i class="la la-book"></i>
					<p>About Section</p>
				</a>
			</li>
		</ul>
	</div>
</div>