
@model List<ResultDiscountDto>
<h4 class="page-title">Discounts</h4>
<div class="card">
	<div class="card-header">
		<div class="card-title">All Discounts</div>
		<a class="btn btn-info" asp-action="DiscountAdd" asp-controller="Discount" asp-area="Admin"><i class="la la-plus"></i> Add Discount</a>
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>

					<th scope="col">#</th>
					<th scope="col">Image</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Percentage Of Discount</th>
					<th scope="col">Started At</th>
					<th scope="col">Ends At</th>
					<th scope="col">Status</th>
					<th scope="col">Update</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.DiscountId</td>
						<td><img width="25" height="25" src="@item.ImageUrl" alt="@item.DiscountTitle" /></td>
						<td>@item.DiscountTitle</td>
						<td>@item.Description</td>
						<td>% @item.PercentageOfDiscount</td>
						<td>@item.StartDate.ToString("dd MMMM yyyy HH:mm", new System.Globalization.CultureInfo("en-EN"))</td>
						<td>@item.EndDate.ToString("dd MMMM yyyy HH:mm", new System.Globalization.CultureInfo("en-EN"))</td>
						<td>
							@if (item.DiscountStatus)
							{
								<span class="badge badge-success">Active</span>
							}
							else
							{
								<span class="badge badge-danger">Passive</span>
							}
						</td>
						<td><a asp-area="Admin" asp-controller="Discount" asp-action="DiscountUpdate" asp-route-discountId="@item.DiscountId" class="btn btn-success"><i class="la la-edit"></i> Update</a></td>
						<td><a asp-area="Admin" asp-controller="Discount" asp-action="DiscountDelete" asp-route-discountId="@item.DiscountId" class="btn btn-danger"><i class="la la-trash"></i> Delete</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>