
@model List<ResultContactDto>
@{
	int count = 0;
}
<h4 class="page-title">Contact</h4>
<div class="card">
	<div class="card-header">
		<div class="card-title">All Messages</div>
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Full Name</th>
					<th scope="col">Email</th>
					<th scope="col">Title</th>
					<th scope="col">Subject</th>
					<th scope="col">Date</th>
                    <th scope="col">Is Read</th>
                    <th scope="col">Delete</th>
                </tr>
			</thead>
			<tbody>
				@foreach(var item in Model)
				{
					count++;
					<tr>
						<td>@count</td>
						<td>@item.FullName</td>
						<td>@item.Email</td>
						<td>@item.Title</td>
						<td>@item.Subject</td>
						<td><span class="badge badge-primary">@item.ContactDate.ToString("dd.MM.yyyy hh:mm tt", CultureInfo.InvariantCulture)</span></td>
						<td>
							@if (!item.IsRead)
							{
								<a asp-controller="Contact" asp-action="ChangeStatusToTrue" asp-route-contactId="@item.ContactId" class="btn">
									<span class="badge badge-warning">Unread</span>
								</a>
							}
							else
							{
								<button class="btn" disabled>
									<span class="badge badge-success">Read</span>
								</button>
							}
						</td>

						<td><a asp-area="Admin" asp-controller="Contact" asp-action="ContactDelete" asp-route-contactId="@item.ContactId" class="btn btn-danger"><i class="la la-trash"></i> Delete</a></td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>