
  @model ResultFooterContentDto
  <!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="@Model.LocationUrl">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                @Model.LocationLabel
                            </span>
                        </a>
                        <a href="tel:@Model.StoreNumber">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call @Model.StoreNumber
                            </span>
                        </a>
                        <a href="mailto:@Model.StoreMail">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                @Model.StoreMail
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                       @Model.FooterTitle
                    </a>
                    <p>
                        @Model.FooterDescription
                    </p>
                    @*Footer Social*@
                    @await Component.InvokeAsync("UIFooterSocial")
                </div>
            </div>
          @* Footer Opening Hour*@
            @await Component.InvokeAsync("UIFooterOpening")
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                World Steak Burger<br><br>
                &copy; <span id="displayYear"></span> Developed By
                <a href="https://korayciftci.vercel.app" target="_blank">Koray Çiftçi</a>
            </p>
        </div>
    </div>
</footer>
<!-- footer section -->